@charset "utf-8";
/* CSS Document */

main ul {
	display: flex;
	margin-top: 50px;
	margin-left: 100px;
}
main li {
	margin-left: 50px;
}
h2 {
	margin-left: 10px;
}
h4 {
	margin-left: 10px;
}
.left {
	width: 800px;
}
.left p {
	line-height: 30px;
}
.right {
	width: 350px;
}
.right p {
	text-align: center;
}
.right p:nth-child(2) {
	font-size: 30px;
	font-weight: bold;
}
.right p:nth-child(3) {
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
}
.trainer {
	margin-left: 100px;
}
.box {
	text-align: center;
	width: 180px;
	height: 300px;
	margin-left: 100px;
	margin-top: 20px;
}
.boxes {
	display: flex;
}
.box p:first-child {
	font-size: 26px;
	font-weight: bold;
}
.box p:nth-child(3) {
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	box-sizing: border-box;
}
.bosyuu {
	text-align: center;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 700px;
	height: 200px;
	border: 1px solid #000;
	box-sizing: border-box;
	background: linear-gradient(#fff 67%, #f0f0f0);
}
.bosyuu img {
	margin-top: 20px;
	margin-bottom: 20px;
}
.bosyuu p {
	font-size: 20px;
	font-weight: bold;
}
.fadein {
	opacity : 0;
	transform : translate(0, 0px);
	transition : all 1500ms;
	z-index: 10;
}
.fadein.scrollin {
	opacity : 1;
	transform : translate(0, 0);
}
main h1 {
	text-align: center;
	font-size: 71.25px;
	margin: 100px 0;
	font-weight: lighter;
}
#bg {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, .4);
}
#photo {
	position: absolute;
	top: 50;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 640px;
	height: 420px;
}
.staff_title{
	margin-top:50px;
}
 @media screen and (max-width:640px) {
	 main h1 {
	text-align:left;
	font-size: 44px;
	font-weight: bold;
}
p{font-size:14px;
}
.left p{
	line-height:24px;
	font-weight:bold;
	margin-bottom:23px;

}
ul li img{
	width: 74px;
    height: 75px;
	margin-left:5px;
}
img {
	text-align: center;
	max-width: 100%;
}
.fadein {
	opacity: 1;
	z-index: 10;
}
.left{
	max-width:100%;
}
.boxes{
	display:block;
}
.box {
    margin-top: 20px;
	height:300px;
	width:170px;
	text-align:center;
}
.boxes{
	text-align:center;
}
.bosyuu{
	max-width:100%;
	height:243px;
	box-sizing:border-box;
}
.trainer{
	text-align:center;
	margin-top:100px;
	margin-left:0;
}
.left ul{
	margin-left:0;
	margin-top:0;
}
.left ul li{
	margin-left:5px;
}
main{
	margin-bottom:100px;
}
#photo img {
	max-width:100%;
	height:auto;
	position:fixed;
}
#bg{
	max-width:100%;
}
}
